server:
  servlet:
    context-path: /extension
  port: 8010
  compression:
    enabled: true
    mime-types: image/svg+xml,text/html

management:
  endpoints:
    web:
      exposure:
        include: info,health,loggers,metrics,beans,mappings,threaddump,heapdump,sbom,docopsstats
    jmx:
      exposure:
        include: info,health,loggers,metrics,beans,mappings,threaddump,heapdump,sbom,docopsstats
  health:
    defaults:
      enabled: true
  endpoint:
    health:
      show-details: always
  info:
    git:
      mode: full
  otlp:
    metrics:
      export:
        enabled: false

  tracing:
    sampling:
      probability: 1.0
    export:
      enabled: false

  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true

logging:
  file:
    name: docops-extension-service.log
    path: .
  pattern:
    level:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}){magenta} %clr(${PID:- }){blue} %clr(---){faint} [%clr(%X{traceId}){magenta}, %clr(%X{spanId}){magenta}] %clr([%t]){green} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
    file: '%date %green(%level) %yellow([%thread]) %cyan(%logger{10}) [%file : %line] [${spring.application.name:}] - %X - %msg%n'
  level:
    io.docops.docopsextensionssupport.web.StatsController: DEBUG
    org.springframework.context.event: DEBUG



spring:
  output:
    ansi:
      enabled: detect
  application:
    name: DocopsExtensionsSupportApplication
    admin:
      enabled: true
  mvc:
    problemdetails:
      enabled: true
  freemarker:
    template-loader-path: classpath:/templates
    suffix: .ftlh
  web:
    resources:
      chain:
        strategy:
          content:
            enabled: true
          fixed:
            paths: /**
  threads:
    virtual:
      enabled: true



