<!DOCTYPE html>
<html lang="en">
<head>
    <title>DocOps Extension Server</title>
    <link rel="icon" href="static/images/favicon.png" />
    <script src="https://unpkg.com/htmx.org@1.8.0"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/app.css" />
    <link rel="stylesheet" href="static/css/modal.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/kotlin.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.js"></script>
    <script src="https://ajaxorg.github.io/ace-builds/src/ace.js"></script>
    <script src="editor/js/theme.js"></script>
    <script src="static/js/app.js"></script>
</head>
<body>
<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" id="menuLink" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <button class="primary-button pure-button" onclick="window.open('http://docops.io');">DocOps.io</button>

            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a class="pure-menu-link" data-hx-get="partials/colorgen.html" data-hx-target="#bod">Panel Generator</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" data-hx-get="partials/adrbuilder.html" data-hx-target="#bod">ADR Builder</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" data-hx-get="partials/panels.html" data-hx-target="#bod">Editor</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" data-hx-get="partials/chart.html" data-hx-target="#bod">Chart</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" data-hx-get="partials/treechart.html" data-hx-target="#bod">Tree Chart</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" data-hx-get="partials/stacked.html" data-hx-target="#bod">Stacked</a></li>
                    <li class="pure-menu-item"><a class="pure-menu-link" data-hx-get="partials/mychart.html" data-hx-target="#bod">My Custom EChart</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main" class="pure-u-1">
        <div id="bod"><h3>Welcome to Extension UI Service</h3></div>
    </div>
</div>
<script>
    document.body.addEventListener("showFrame", function (evt){
        if(typeof showHTMLInIFrame === "function"){showHTMLInIFrame();}
    });
    let downloadBlob = function (FileName) {
        saveData(FileName);
    }
        var saveData = (function () {
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        return function (fileName) {
        var blob = new Blob([editor.getValue()], {type: "octet/stream"}),
        url = window.URL.createObjectURL(blob);
        a.href = url;
        a.download = fileName;
        a.click();
        window.URL.revokeObjectURL(url);
    };
    }());

    document.body.addEventListener('htmx:beforeSwap', function(evt) {
        if(evt.detail.xhr.status === 404){
        // alert the user when a 404 occurs (maybe use a nicer mechanism than alert())
        alert("Error: Could Not Find Resource");
    } else if(evt.detail.xhr.status === 422){
        // allow 422 responses to swap as we are using this as a signal that
        // a form was submitted with bad data and want to rerender with the
        // errors
        //
        // set isError to false to avoid error logging in console
        evt.detail.shouldSwap = true;
        evt.detail.isError = false;
    } else if(evt.detail.xhr.status === 400){
        // if the response code 418 (I'm a teapot) is returned, retarget the
        // content of the response to the element with the id `teapot`
        evt.detail.shouldSwap = true;
        evt.detail.target = htmx.find("#errormessages");
    }
    });

</script>
</body>
</html>