<!DOCTYPE html>
<html lang="en">
<head>
    <title>DocOps Extension Server</title>
    <link rel="icon" href="images/favicon.png" />
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
    <link rel="stylesheet" href="https://the.missing.style/v1.0.0/missing.min.css">
    <link rel="stylesheet" href="https://the.missing.style/v1.0.0/missing-prism.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/languages/kotlin.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
    <script src="https://ajaxorg.github.io/ace-builds/src/ace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/spectrum-colorpicker2/dist/spectrum.min.js"></script>
    <script src="editor/js/theme.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ext/json-enc.js"></script>
</head>
<body>

<div class="sidebar-layout">
    <header>
        <button class="button" onclick="window.open('http://docops.io');">DocOps.io</button>
        <ul role="list">
            <li><a data-hx-get="buttongenerator.html" data-hx-target="#bod">Panel Generator</a></li>
            <li><a data-hx-get="panelimagebuilder.html" data-hx-target="#bod">Panel Image Builder</a></li>
            <li><a data-hx-get="adrbuilder.html" data-hx-target="#bod">ADR Builder</a></li>
            <li><a data-hx-get="panelseditor.html" data-hx-target="#bod">Editor</a></li>
            <li><a data-hx-get="chart.html" data-hx-target="#bod">Chart</a></li>
            <li><a data-hx-get="treechart.html" data-hx-target="#bod">Tree Chart</a></li>
            <li><a data-hx-get="stacked.html" data-hx-target="#bod">Stacked</a></li>
            <li><a data-hx-get="mychart.html" data-hx-target="#bod">My Custom EChart</a></li>
            <li><a data-hx-get="badge.html" data-hx-target="#bod">Badge</a></li>
            <li><a data-hx-get="stats.html" data-hx-target="#bod">Stats</a></li>
        </ul>
    </header>

    <div class="col-2">
        <main>
            <div id="bod"><h3>Welcome to Extension UI Service</h3></div>
        </main>
    </div>
</div>



<script>
    document.body.addEventListener("showFrame", function (evt){
        if(typeof showHTMLInIFrame === "function"){showHTMLInIFrame();}
    });
    let downloadBlob = function (FileName) {
        saveData(FileName);
    }
    var saveData = (function () {
        var a = document.createElement("a");
        document.body.appendChild(a);
        a.style = "display: none";
        return function (fileName) {
            var blob = new Blob([editor.getValue()], {type: "octet/stream"}),
                url = window.URL.createObjectURL(blob);
            a.href = url;
            a.download = fileName;
            a.click();
            window.URL.revokeObjectURL(url);
        };
    }());

    document.body.addEventListener('htmx:beforeSwap', function(evt) {
        if(evt.detail.xhr.status === 404){
            // alert the user when a 404 occurs (maybe use a nicer mechanism than alert())
            alert("Error: Could Not Find Resource");
        } else if(evt.detail.xhr.status === 422){
            // allow 422 responses to swap as we are using this as a signal that
            // a form was submitted with bad data and want to rerender with the
            // errors
            //
            // set isError to false to avoid error logging in console
            evt.detail.shouldSwap = true;
            evt.detail.isError = false;
        } else if(evt.detail.xhr.status === 400){
            // if the response code 418 (I'm a teapot) is returned, retarget the
            // content of the response to the element with the id `teapot`
            evt.detail.shouldSwap = true;
            evt.detail.target = htmx.find("#errormessages");
        }
    });

</script>
</body>
</html>