.navbar {
    margin-bottom: 10px;
    position: fixed;
    z-index: 2000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #606c76;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ab5dda;
}

#editor {
    height: 100%;
    padding-top: 200px;
}

.button-black {
    background-color: black;
    border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
    background-color: transparent;
    color: black;
}
.button-black.button-clear {
    border-color: transparent;
}

/* Custom size */
.button-small {
    font-size: .8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
}

.contentBox {
    width: 100%;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
}

.contentBox .colorBox {
    width: 15%;
    height: 80%;
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contentBox .colorBox .color {
    width: 100%;
    height: 80%;
    background-color: aqua;
    border-radius: 10px 10px 0 0;
}

.contentBox .colorBox .code {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.activecheck {
    color: white;
}