<div class="pure-button-group">
    <a class="pure-button pure-button-primary" data-hx-get="chart.html" data-hx-target="'#contentBoxPanel'">Bar Chart</a></li>
    <a class="pure-button pure-button-primary" data-hx-get="treechart.html" data-hx-target="'#contentBoxPanel'">Tree Chart</a></li>
    <a class="pure-button pure-button-primary" data-hx-get="stacked.html" data-hx-target="'#contentBoxPanel'">Stacked</a></li>
    <a class="pure-button pure-button-primary" data-hx-get="mychart.html" data-hx-target="'#contentBoxPanel'">My Custom EChart</a></li>
</div>

<div id="contentBoxPanel" class="contentBoxPanel"></div>
