<div class="pure-button-group">
    <a data-hx-get="panelgenerator.html" class="pure-button pure-button-primary" data-hx-target="'#contentBoxPanel'">Panel Generator</a>
    <a data-hx-get="panelimagebuilder.html" class="pure-button pure-button-primary" data-hx-target="'#contentBoxPanel'">Panel Image Builder</a>
    <a data-hx-get="twotoneimagebuilder.html" class="pure-button pure-button-primary" data-hx-target="'#contentBoxPanel'">Two Row Image Builder</a>
    <a data-hx-get="panelseditor.html" class="pure-button pure-button-primary" data-hx-target="'#contentBoxPanel'">Panels Editor</a>
</div>

<div id="contentBoxPanel" class="contentBoxPanel"></div>
