<H1>Simple Icons</H1>

<div>
    <p>View List of Simple Icons</p>
</div>


<div class="pure-g">
    <div class="pure-u-1-2">
<div class="pure-1-1-10">
<input class="button-secondary pure-button" type="button"  data-hx-post="'api/simple/icons'"
       value="A" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;A&#34;}'}"
>

<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="B" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;B&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="C" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;C&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="D" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;D&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="E" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;E&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="F" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;F&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="G" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;G&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="H" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;H&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="I" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;I&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="J" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;J&#34;}'}"
>
</div>

<div class="pure-1-1-10">
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="K" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;K&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="L" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;L&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="M" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;M&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="N" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;N&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="O" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;O&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="P" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;P&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="Q" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;Q&#34;}'}"
>

<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="R" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;R&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="S" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;S&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="T" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;T&#34;}'}"
>
</div>
<div class="pure-1-1-10">
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="U" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;U&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="V" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;V&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="W" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;W&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="X" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;X&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="Y" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;Y&#34;}'}"
>
<input class="button-secondary pure-button" type="button"  data-hx-get="'api/simple/icons'"
       value="Z" data-hx-target="'#content'"
       data-hx-vals="${'{&#34;SEL&#34;: &#34;Z&#34;}'}"
>
</div>
    </div>
    <div class="pure-u-1-2" id="placeholder"></div>
</div>

<div id="content"></div>
