<h1>Usage Metrics View - Per JVM</h1>
<script>


        function makeRequest(path, id) {
            let httpRequest = new XMLHttpRequest();

            if (!httpRequest) {
                alert("Giving up :( Cannot create an XMLHTTP instance");
                return false;
            }
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        makeImage(httpRequest.responseText, path, id);
                    } else {
                        alert("There was a problem with the request.");
                    }
                }
            };
            httpRequest.open("GET", "actuator/metrics"+path);
            httpRequest.send();
        }


        function makeImage(data, path, id) {
            let httpRequest = new XMLHttpRequest();
            httpRequest.open("POST", "api/jsonToSvg");
            httpRequest.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            httpRequest.send(data);
            httpRequest.onreadystatechange = function(){
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        const svgString = this.responseText;
                        var elem = document.getElementById(id);
                        elem.innerHTML = svgString;
                    } else {
                        alert("There was a problem with the request.");
                    }
                }
            };
        }

        var updateMetrics = function () {
            let httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "actuator/metrics");
            httpRequest.send();
            httpRequest.onreadystatechange = function(){
                if (httpRequest.readyState === XMLHttpRequest.DONE) {
                    if (httpRequest.status === 200) {
                        const items = JSON.parse(this.responseText);
                        console.log(items);
                        let select = document.getElementById("metrics");
                        var itemArray = items["names"];
                        for(var i = 0; i < itemArray.length; i++) {
                            var opt = itemArray[i];
                            console.log(opt);
                            var el = document.createElement("option");
                            el.textContent = opt;
                            el.value = opt;
                            select.appendChild(el);
                        }

                    } else {
                        alert("There was a problem with the request.");
                    }
                }
            };
        };
        updateMetrics();

        var getMetrics = function () {
            let select = document.getElementById("metrics");
            makeRequest("/"+select.value, 'panel')
        }

</script>
<table class="pure-table">
    <thead>
    <tr>
        <th><label for="metrics"></label></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="pure-u-1 pure-u-md-1-2">
            <select id="metrics" name="metrics"
                    class="pure-input-1-2" onchange="getMetrics()">
                <option>Select</option>
            </select>
            </div>
    </tr>

    </tbody>
</table>

<hr/>
<h3>Results</h3>

<div id="panel"></div>