<h1>Charts Editor</h1>

<button class="button-black button-outline" onclick="copyTextToClipboard(editor.getValue());">Copy</button>

<button class="button-black button-outline" onclick="copyTextToClipboard(makeAdoc(editor.getValue()))">Copy as AsciiDoc</button>

<button class="button-black button-outline" onclick="downloadBlob('snippet.kts')">Download Snippet</button>

<div id="editor">
barChart {
        title = "Hello"
        subTitle = "World"
        xAxisLabel=""
        yAxisLabel=""
        data {
            name = "Animals"
            value = 5.0
            nv("Cats", 4.0)
            nv("Dogs", 2.0)
            nv("Cows", 1.0)
            nv("Sheep", 2.0)
            nv("Pigs", 1.0)
        }
        data {
            name = "Fruits"
            value = 2.0
            nv("Apples", 4.0)
            nv("Oranges", 2.0)
        }
}
</div>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/kotlin");
    editor.setShowPrintMargin(false);
    editor.getSession().setUseWrapMode(true);
    editor.setOptions({
        maxLines: 22
    });
    var successRes = function(data) {
        // language=html
        var obj = `<object type=\"image/svg+xml\" data=\"` + data +`\"></object>`;
        $('#results').empty().append(data);
    }
    function showHTMLInIFrame() {
        $.ajax({
            type: "POST",
            url: "api/bar",
            data: editor.getValue(),
            success: successRes,
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            },
            dataType: "text"
        });
    }
    editor.on("input", showHTMLInIFrame);
</script>
<br/>
<h3>Preview</h3>
<div id="results"></div>
