<h1>Charts Editor</h1>


<div id="editor">
barChart {
        title = "Hello"
        subTitle = "World"
        xAxisLabel=""
        yAxisLabel=""
        data {
            name = "Animals"
            value = 5.0
            nv("Cats", 4.0)
            nv("Dogs", 2.0)
            nv("Cows", 1.0)
            nv("Sheep", 2.0)
            nv("Pigs", 1.0)
        }
        data {
            name = "Fruits"
            value = 2.0
            nv("Apples", 4.0)
            nv("Oranges", 2.0)
        }
}
</div>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/kotlin");
    editor.setOptions({
        maxLines: 22
    });
    //editor.session.setMode("ace/mode/html");

    function showHTML() {
        $('#return').html(editor.getValue());
    }
    var successRes = function(data) {
        // language=html
        var obj = `<object type=\"image/svg+xml\" data=\"` + data +`\"></object>`;
        $('#return').empty().append(data);
    }
    // or use data: url to handle things like doctype
    function showHTMLInIFrame() {
        $.ajax({
            type: "POST",
            url: "/extension/api/bar",
            data: editor.getValue(),
            success: successRes,
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            },
            dataType: "text"
        });

    }
    editor.on("input", showHTMLInIFrame);
</script>
<div id="return"></div>