<h1>My Own EChart</h1>
<div>
    <p>I would like my own <a href="https://echarts.apache.org">EChart</a>
        Grab your EChart and put the content in the editor bar.
        Server will take care of creating div and initializing chart</p>
</div>

<pre id="editor">
var option;

option = {
  graphic: {
    elements: [
      {
        type: 'text',
        left: 'center',
        top: 'center',
        style: {
          text: 'Steve',
          fontSize: 80,
          fontWeight: 'bold',
          lineDash: [0, 200],
          lineDashOffset: 0,
          fill: 'transparent',
          stroke: '#000',
          lineWidth: 2
        },
        keyframeAnimation: {
          duration: 3000,
          loop: true,
          keyframes: [
            {
              percent: 0.7,
              style: {
                fill: 'transparent',
                lineDashOffset: 200,
                lineDash: [200, 0]
              }
            },
            {
              // Stop for a while.
              percent: 0.8,
              style: {
                fill: 'transparent'
              }
            },
            {
              percent: 1,
              style: {
                fill: '#ffcccc'
              }
            }
          ]
        }
      }
    ]
  }
};

option && myChart.setOption(option);
</pre>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/javascript");
    //editor.session.setMode("ace/mode/html");
    editor.setOptions({
      maxLines: 50
    });
    function showHTML() {
        $('#return').html(editor.getValue());
    }
    var successRes = function(data) {
        $('#return').empty().append(data);
    }
    // or use data: url to handle things like doctype
    function showHTMLInIFrame() {
        $.ajax({
            type: "POST",
            url: "/extension/api/chart/custom?width=900&height=500",
            data: editor.getValue(),
            success: successRes,
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            },
            dataType: "text"
        });

    }
    editor.on("input", showHTMLInIFrame);
    window.addEventListener('load', (event) => {
        showHTMLInIFrame()
    });
</script>
<div id="return"></div>