<h1>Panels</h1>
<button class="button-success pure-button"   onclick="copyTextToClipboard(editor.getValue());">Copy</button>
<button class="button-secondary pure-button" onclick="copyTextToClipboard(makeAdoc(editor.getValue()))">Copy as AsciiDoc</button>
<button class="button-secondary pure-button" onclick="downloadBlob('snippet.kts')">Download Snippet</button>
<br/>
<br/>
<div id="editor">
panels {
    theme {
        legendOn = false
    }
    panel{
        link="https://www.apple.com"
        label="Apple"
    }
    panel{
        link = "http://wwww.google.com"
        label = "Google Search"
    }
}
</div>


<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/kotlin");
    editor.setOptions({
        maxLines: 15
    });
    editor.getSession().on('change', function() {
        showHTMLInIFrame()
    });

    function showHTMLInIFrame() //writes in <div> with id=output
    {
        getImage("api/panel/plain", "results");
    }

</script>
<br/>
<h3>Preview</h3>
<div id="results"></div>


