<h1>Tree Chart  Editor</h1>
<button class="button-black button-outline" onclick="copyTextToClipboard(editor.getValue());">Copy</button>

<button class="button-black button-outline" onclick="copyTextToClipboard(makeAdoc(editor.getValue()))">Copy as AsciiDoc</button>

<div id="editor" class="editor">
treeChart {
    name = "Product Range"
    child {
        name = "USB Converter"
        child {
            name = "USB 3.0 Converter"
        }
        child {
            name = "USB 2.0 Converter"
            child {
                name = "USB 2 Serial"
            }
            child {
                name = "USB 2 RS485"
            }
            child {
                name = "USB 2 Dual Serial"
            }
            child {
                name = "USB 2 MIDI"
            }
        }
    }
    child {
        name = "HDMI"
    }
}
</div>
<br/>
<h3>Preview</h3>
<div id="return"></div>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/kotlin");
    editor.setOptions({
        maxLines: 30
    });
    var successRes = function(data) {
        $('#return').empty().append(data);
    }
    // or use data: url to handle things like doctype
    function showHTMLInIFrame() {
        $.ajax({
            type: "POST",
            url: "api/treechart",
            data: editor.getValue(),
            success: successRes,
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
            },
            dataType: "text"
        });

    }
    editor.on("input", showHTMLInIFrame);
</script>
