<h1>Tree Chart  Editor</h1>
<button class="button-success pure-button"   onclick="copyTextToClipboard(editor.getValue());">Copy</button>
<button class="button-secondary pure-button" onclick="copyTextToClipboard(makeAdoc(editor.getValue()))">Copy as AsciiDoc</button>
<button class="button-secondary pure-button" onclick="downloadBlob('snippet.kts')">Download Snippet</button>
<br/>
<br/>
<div id="editor" class="editor">
treeChart {
    name = "Product Range"
    child {
        name = "USB Converter"
        child {
            name = "USB 3.0 Converter"
        }
        child {
            name = "USB 2.0 Converter"
            child {
                name = "USB 2 Serial"
            }
            child {
                name = "USB 2 RS485"
            }
            child {
                name = "USB 2 Dual Serial"
            }
            child {
                name = "USB 2 MIDI"
            }
        }
    }
    child {
        name = "HDMI"
    }
}
</div>
<br/>
<h3>Preview</h3>
<div id="results"></div>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/clouds");
    editor.session.setMode("ace/mode/kotlin");
    editor.setOptions({
        maxLines: 25
    });

    // or use data: url to handle things like doctype
    function showHTMLInIFrame() {
        getImage("api/treechart", "results");
    }
    editor.on("input", showHTMLInIFrame);
</script>
